*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
keystore.properties
*.jks
*.keystore
*.p12
*.pfx
!app/androidApp/signing/debug.keystore
app/androidApp/signing/release.keystore
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
.flatpak-builder/
app/iosApp/DerivedData/
app/iosApp/Pods/
server/keystore.p12
